.sidebar {
  grid-area: sidebar;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--color-solid-lightgray);
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  
  &_dark {
    border-right-color: var(--color-solid-primary_disabled);
  }

  &__logo {
    height: 126px;
    padding-top: 30px;
  }
}