@mixin flex-row-vh_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin button-text {
  font-family: 'Rubik-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-solid-light);
}

@mixin float-label-text {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

@mixin input-text {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@mixin input-message-text {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}

@mixin select-text {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

@mixin avatar-text {
  font-family: 'Rubik-Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin card-text {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}