@mixin flex-direct-vh($direction, $justify: normal, $align: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text-style($family: 'RR', $size: 10px, $height: 150%, $style: normal) {
  @if $family == 'RR' {
    font-family: 'Rubik-Regular';
    font-weight: 400;
  } @else if $family == 'RM' {
    font-family: 'Rubik-Medium';
    font-weight: 500;
  } @else if $family == 'RB' {
    font-family: 'Rubik-Bold';
    font-weight: 700;
  }
  font-style: $style;
  font-size: $size;
  line-height: $height;
}