$color-solid-bg-dark: #0F172A;
$color-solid-light-dark: #334155;
$color-solid-primary: #4C6FFF;
$color-solid-primary_hover: #6B87FA;
$color-solid-primary_disabled: #334155;
$color-solid-success: #66CB9F;
$color-solid-danger: #F16063;
$color-solid-light: #EDF2F7;
$color-solid-lightgray: #D5D5DC;
$color-solid-darklight: #17171B;

$color-gradient-purple: linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
$color-gradient-black: linear-gradient(225deg, #29272E 0%, #27272E 100%);
$color-gradient-orange: linear-gradient(225deg, #FFC656 0%, #F16063 100%);
$color-gradient-yellow: linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%);
$color-gradient-pink: linear-gradient(224.47deg, #FF92AE 8.18%, #FF3D9A 95.84%);
$color-gradient-green: linear-gradient(225deg, #67E9F1 0%, #24E795 100%);