/*=============================== Common ===============================*/
@import "@/assets/styles/common/fonts.scss",
        "@/assets/styles/common/variables.scss",
        "@/assets/styles/common/mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow-y: auto;
  font-family: 'Rubik-Regular', Arial, Helvetica, sans-serif;
}

body.light-theme {
  background-color: $color-solid-light;
}

body.dark-theme {
  background-color: $color-solid-bg-dark;
}

/*=============================== Components ===========================*/
@import "@/App.scss",
        "@/views/UIKit/UIKit.scss",
        "@/components/ui/BaseLogo/BaseLogo.scss",
        "@/components/ui/BaseButton/BaseButton.scss",
        "@/components/ui/BaseInput/BaseInput.scss",
        "@/components/ui/FloatLabel/FloatLabel.scss",
        "@/components/ui/BaseSelect/BaseSelect.scss",
        "@/components/ui/BaseSwitch/BaseSwitch.scss",
        "@/components/ui/BaseRadio/BaseRadio.scss",
        "@/components/ui/BaseAvatar/BaseAvatar.scss",
        "@/components/ui/CarouselControl/CarouselControl.scss";